*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-image: url("../images/background.jpg");
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: overlay;
}

.nav-bar{
  height: 70px;
  background-color: rgba(0, 0, 0, 0.5);
}
.logo img{
  padding-left: 10px;
  width: 200px;
  height: 70px;
  filter: drop-shadow(0px 0px 10px rgba(250,218,95,2));

}
.nav-bar ul li{
  font-size: 28px;
  display: inline;
  position: relative;
  left: 960px;
  top: -130px;
}
.heading{
  font-size: 60px;
  color: white;
  position: relative;
  top: -70px;
  font-family: 'Tangerine', cursive;
  font-weight: bold;
}

.heading h1{
  text-shadow: 10px 10px 40px #f12b4a;

  animation-name: food;
  animation-duration: 2s;
  animation-iteration-count: infinite;

}
@keyframes food {
  0%{
    text-shadow: 20px 10px 40px #37b448,
                  3px 3px 5px blue;
  }
  25%{
    text-shadow: 30px 10px 40px #00cc99,
                  3px 3px 5px yellow;
  }
  50%{
    text-shadow: 0 10px 40px #019ad2,
                  3px 3px 5px purple;
  }
  75%{
    text-shadow: -50px 10px 40px #fbcf61,
                  3px 3px 5px blue;
  }
  100%{
    text-shadow: 0px 10px 40px #f12b4a,
                  3px 3px 5px #f15710;

  }

}

.nav-bar ul li a{
  color: white;
  text-decoration: none;
  padding-right: 15px;
  justify-content:center;
}

.food-menu{
  /* margin: 15px; */
  display: flex;
  justify-content: center;
  margin-top: 120px;

}
/* First Division */
.first-div{
  background-image: url("../images/biriyani.jpg");
width: 220px;
height: 350px;
background-color: rgba(0, 0, 0, 0.5);
background-blend-mode: overlay;
margin-right: 15px;
background-size: cover;
}
.first-div:hover{
box-shadow: 0 0 12px white;
transition: 0.6s;
}

.first-div img{
  margin-top: 20px;
  width: 220px;
  border-radius: 100px;
  justify-content: center;
  height: 200px;
}
.first-div img:hover{
  cursor: pointer;
  box-shadow: 0 0 25px 2px white;
  transition: 0.5s;
}

.name h1{
  margin-top: 40px;
  font-size: 40px;
  color: white;
}


.tooltip{
  margin: 0;
  padding: 0;
  background-color: red;
}


/* Second Division */
.second-div{
  background-image: url("../images/burger.jpg");
  width: 220px;
  height: 350px;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  margin-right: 15px;
  background-size: cover;
}
.second-div:hover{
  box-shadow: 0 0 12px white;
  transition: 0.6s;
  }
.second-div img{
  margin-top: 20px;
  width: 220px;
  border-radius: 100px;
  justify-content: center;
  height: 200px;
}
.second-div img:hover{
  cursor: pointer;
  box-shadow: 0 0 25px 2px white;
  transition: 0.5s;
}

.name1 h1{
  margin-top: 40px;
  font-size: 40px;
  color: white;
}

/* Third Division */
.third-div{
  background-image: url("../images/chicken.jpg");
  width: 220px;
  height: 350px;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  margin-right: 15px;
  background-size: cover;
}
.third-div:hover{
  box-shadow: 0 0 12px white;
  transition: 0.6s;
  }
.third-div img{
  margin-top: 20px;
  width: 220px;
  border-radius: 100px;
  justify-content: center;
  height: 200px;
}
.third-div img:hover{
  cursor: pointer;
  box-shadow: 0 0 25px 2px white;
  transition: 0.5s;
}
.name2 h1{
  margin-top: 40px;
  font-size: 40px;
  color: white;
}


/* Fourth Division */
.fourth-div{
  background-image: url("../images/paneer-tikka.jpg");
  width: 220px;
  height: 350px;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  margin-right: 15px;
  background-size: cover;
}
.fourth-div:hover{
  box-shadow: 0 0 12px white;
  transition: 0.6s;
  }

.fourth-div img{
  margin-top: 20px;
  width: 220px;
  border-radius: 100px;
  justify-content: center;
  height: 200px;
}
.fourth-div img:hover{
  cursor: pointer;
  box-shadow: 0 0 25px 2px white;
  transition: 0.5s;
}
.name3 h1{
  margin-top: 40px;
  font-size: 40px;
  color: white;
}


/* Fifth Division */
.fifth-div{
  background-image: url("../images/Tandoori-Chicken.jpg");
  width: 220px;
  height: 350px;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  margin-right: 15px;
  background-size: cover;
}
.fifth-div:hover{
  box-shadow: 0 0 12px white;
  transition: 0.6s;
  }
.fifth-div img{
  margin-top: 20px;
  width: 220px;
  border-radius: 100px;
  justify-content: center;
  height: 200px;
}
.fifth-div img:hover{
  cursor: pointer;
  box-shadow: 0 0 25px 2px white;
  transition: 0.5s;
}

.name4 h1{
  margin-top: 40px;
  font-size: 40px;
  color: white;
}

